
body{
    background-color: rgb(193, 230, 230);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
}

header {
    color: #fff;
    background-color: #193b6b;
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 5% 5%;
}

header h1, header h4{
    margin:0;
    text-align: left;
    padding: 0;
}

h4{
    font-weight: 200;
}

.calculator{
    background-color: #fff;
    padding: 5%;
    margin: 20px;
    border-radius: 5px;
}

nav{
    display: block;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    font-size: small;
    color: #110229;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.menu-1,.menu-2{
    display: absolute;
    padding: 10px;
}

.select {
    margin:0%
}

#standard-select {
    padding: 10px 10px;
    margin: 5px;
    width:fit-content;
    border: 2px solid #eede06;
    border-style: double;
    border-radius: 4px;
    font-size: small;
    color:#081846;
    font-family: "Poppins", sans-serif;
}

option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}

#output{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    margin: 0 auto;
    gap: 20px;
}

.calculator-bar,.formula,.result-bar{
    padding: 0;
    background-color: transparent;
    display: inline-block;
    border-radius: 8px;
    padding: 32px;
    width: 300px;
    max-width: 100%;
    vertical-align: middle;
    background-color: #F5F6F7;
}

.formula h5 {
    margin-left: 15px;
}

img {
    overflow: clip;
    height: max-content;
    width: 250px;
}

.formula-bar {
    text-align: center;
    gap: 0%;
}


.calculator.p {
    margin: 16px 0;
}

.calculator .form-group {
    display: block;
    position: relative;
    border-radius: 6px;
    border: 3px solid transparent;
    max-width: 100%;
}

.calculator .form-group .wrapper {
    border: 1px solid #1D1F25;
    border-radius: 4px;
    padding: 5px 0;
    height: 32px;
    white-space: nowrap;
    background-color: #FFF;
    margin-bottom: 10px;;
}

.calculator .form-group .prefix {
    float: left;
    padding: 0 16px;
    height: 32px;
    line-height: 38px;
    vertical-align: middle;
    border-right: 1px solid #EEE;
}

.calculator .form-group .suffix {
    float: right;
    margin-right: 16px;
    height: 100%;
    line-height: 38px;
}

.calculator .form-group .suffix+.input-wrapper {
    padding-right: 8px;
}

.calculator .form-group .input-wrapper {
    display: block;
    overflow: hidden;
    padding: 7px 16px;
    height: 20px;
    text-align: right;
    align-content: center;
}

.calculator .form-group .input-wrapper input {
    display: block;
    border: none;
    outline: 0;
    width: 100%;
    height: 24px;
    font: inherit;
    line-height: 24px;
    text-align: right;
    background-color: transparent;
}

.result-button {
    display: block;
    border: none;
    border-radius: 4px;
    height: 32px;
    background-color: #081846;
    color: #fff;
    font-size: 16px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.perimeterResult,.areaResult{
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.perimeterResult h5,.areaResult h5{
    padding: 0px;
}

p {
    padding: 0px;
    margin: 0%;
}

